.item{
    height:50px;
    /* width: 50px; */
    background-color: blueviolet;
    border: 2px solid black;
}
.container{
    display: grid;
    background-color: brown;

    grid-template-columns: 1fr 2fr 1fr;
}
.container{
    height:500px;
    background-color:brown;
    display: grid;
    gap: 15px 0px;
    grid-template-areas: "nav nav nav"
                         "main-left main-body sidebar"
                         "footer footer footer";
    align-content: start;
    /* justify-content: space-around; */
}
.item-1{
    grid-area:nav;
    text-align: center;
}
.item-2{
    grid-area:main-left;
    text-align: center;
}
.item-3{
    grid-area:main-body;
    text-align: center;
}
.item-4{
    grid-area:sidebar;
    text-align: center;
}
.item-5{
    grid-area:footer;
    text-align: center;
}